@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
:root {
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.HelloTwo {
  height: auto;
  width: 100vw;
  padding-top: 7rem;
  padding-bottom: 3rem;
  /* background: url("../../Assets/BG.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.HelloTwo .secContainerTwo {
  flex-direction: column;
}
.HelloTwo .secContainerTwo .textDiv {
  flex-direction: column;
  align-items: flex-start;
  
}
.HelloTwo .secContainerTwo .textDiv h1 {
  color: rgba(0, 0, 0, 0.601);
  font-size: var(--biggestFontSize);
}
.HelloTwo .secContainerTwo .textDiv p {
  color: rgb(86, 84, 84);
  
  padding: 1rem 0 2rem;
  font-size: var(--normalFontSize);
}
.HelloTwo .secContainerTwo .textDiv .searchBar {
  background: var(--primaryColorLight);
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  justify-content: space-between;
  border: 5px solid rgba(203, 202, 202, 0.16);
}
.HelloTwo .secContainerTwo .textDiv .searchBar .icon {
  color: var(--primaryColor);
  margin-right: 2px;
}
.HelloTwo .secContainerTwo .textDiv .searchBar input {
  background: none;
  outline: none;
  border: none;
}
.HelloTwo .secContainerTwo .textDiv .searchBar input::-moz-placeholder {
  opacity: 0.5;
}
.HelloTwo .secContainerTwo .textDiv .searchBar input::placeholder {
  opacity: 0.5;
}
.HelloTwo .secContainerTwo .textDiv .searchBar .btn {
  padding: 0.8rem;
}
.HelloTwo .secContainerTwo .textDiv .searchBar .btn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.HelloTwo .secContainerTwo .textDiv .numbers {
  color: rgb(86, 84, 84);
  padding: 1.5rem 1rem;
  gap: 0.5rem;
  justify-content: left;
}
.HelloTwo .secContainerTwo .textDiv .numbers .singleNumber span {
  display: flex;
  font-weight: 500;
  font-size: var(--h1FontSize);
}
.HelloTwo .secContainerTwo .textDiv .numbers .singleNumber span blockquote {
  color: var(--orangeColor);
}
.HelloTwo .secContainerTwo .textDiv .numbers .singleNumber small {
  font-size: var(--smallFontSize);
  
  max-width: 10px;
}
.HelloTwo .secContainerTwo .imgDiv {
  width: 80% !important;
  height: 80% !important;
  margin-top: 3rem;
  position: relative; 
  border-radius: 10% !important;

}
.HelloTwo .secContainerTwo .imgDiv::after {
  content: ""; /* Nécessaire pour que le pseudo-élément s'affiche */
  position: absolute; /* Positionnement par rapport au parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%, /* Début très transparent et plus blanc */
    rgba(0, 0, 0, 0.447) 50%, /* Transition douce */
    #000000 102.37% /* Finale plus bas pour un effet foncé étendu */
  );
  border-radius: 5%; /* Si .imgDiv a des bordures arrondies */
}


@media screen and (min-width: 480px) {
  .HelloTwo .secContainerTwo .textDiv h1 {
    font-size: var(--biggestFontSize);
  }
  .HelloTwo .secContainerTwo .textDiv p {
    font-size: var(--h3FontSize);
    line-height: 30px;
  }
  .HelloTwo .secContainerTwo .textDiv .searchBar .icon {
    margin-right: 5px;
  }
  .HelloTwo .secContainerTwo .textDiv .searchBar .btn {
    padding: 0.8rem 1.5rem;
  }
  .HelloTwo .secContainerTwo .textDiv .numbers .singleNumber small {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 680px) {
  .HelloTwo .secContainerTwo {
    flex-direction: row;
    gap: 4rem;
  }
  .HelloTwo .secContainerTwo .imgDiv {
    flex-basis: 60%;
  }
}
@media screen and (min-width: 1140px) {
  .HelloTwo .secContainerTwo .textDiv {
    position: relative;
    flex-basis: 60%;
  }
  .HelloTwo .secContainerTwo .textDiv h1 {
    font-size: 3rem;
  }
  .HelloTwo .secContainerTwo .textDiv .design {
    position: absolute;
    height: 31px;
    width: 31px;
    background: linear-gradient(40deg, rgb(255, 191, 0), rgb(255, 102, 0));
    border-radius: 50%;
    right: -1%;
    top: 0;
    z-index: -1;
  }
  .HelloTwo .secContainerTwo .textDiv .searchBar input {
    font-size: var(--h3FontSize);
  }
  .HelloTwo .secContainerTwo .textDiv .searchBar .icon {
    font-size: 22px;
  }
  .HelloTwo .secContainerTwo .textDiv .searchBar .btn {
    padding: 1rem 2rem;
  }
  .HelloTwo .secContainerTwo .textDiv .numbers .singleNumber span {
    font-size: 2rem;
  }
  .HelloTwo .secContainerTwo .textDiv .numbers .singleNumber small {
    font-size: var(--normalFontSize);
  }
}
@media screen and (min-width: 1440px) {
  .HelloTwo .secContainerTwo {
    align-items: flex-start;
  }
  .HelloTwo .secContainerTwo .textDiv {
    transform: translateY(8rem);
    flex-basis: 65%;
    gap: 1rem;
  }
  .HelloTwo .secContainerTwo .textDiv h1 {
    font-size: 3.5rem;
  }
  .HelloTwo .secContainerTwo .textDiv p {
    font-size: var(--h2FontSize);
  }
  .HelloTwo .secContainerTwo .textDiv .numbers .singleNumber small {
    font-size: var(--h3FontSize);
  }
}