@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
:root {
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(216, 2%, 58%);
  --shadowColorTwo: hsla(242, 76%, 40%, 0.755);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.ListingHR .secContainer .secHeader {
  text-align: center;
}
.ListingHR .secContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  gap: 2rem; /* Espace entre les éléments */
  /* Ajouter d'autres styles comme padding, etc., si nécessaire */
}
.ListingHR .secContainer .secContentHR {
  display: grid;
  gap: 3rem; /* Augmentez l'espace entre les éléments de la grille */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Des colonnes qui s'adaptent à la largeur de l'écran */
  width: 100%; /* Assurez-vous que le contenu s'étend à la pleine largeur */
}

.btnn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  color: var(--whiteColor);
  font-weight: 500;
  
    /* background: rgb(12,163,154); */
}

.ListingHR .secContainer .secHeader .btns {
  margin-top: 1.5rem;
  gap: 1rem;
  justify-content: center;
}
.ListingHR .secContainer .secHeader .btns .btn {
  border: 2px solid var(--primaryColorDark);
  background: none;
  color: var(--primaryColorDark);
  font-weight: 500;
}
.ListingHR .secContainer .secHeader .btns .btn:hover {
  background: var(--primaryColor);
  border: 2px solid transparent;
  color: var(--whiteColor);
}
.ListingHR .secContainer .secHeader .btns .active {
  background: var(--primaryColor);
  border: 2px solid transparent;
  color: var(--whiteColor);
}
.ListingHR .secContainer .secContentHR .singleListingHR {
  display: grid;
  border-radius: var(--borderRadius);
  padding: 6px;
  background: white;
  place-items: center;
  overflow: hidden;
  align-items: center !important; /* Centrer verticalement */
  justify-content: center !important; /* Centrer horizontalement */
  gap: 2rem; 
  box-shadow: 4px 4px 6px var(--shadowColor);
  height: 360px;
}
.ListingHR .secContainer .secContentHR .singleListingHR:hover {
  box-shadow: 0 4px 6px var(--shadowColorTwo);
}
.ListingHR .secContainer .secContentHR .singleListingHR:hover .imgDiv img {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
.ListingHR .secContainer .secContentHR .singleListingHR .imgDiv {
  height: 80px;
  width: 30%;
  align-items: center !important;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.ListingHR .secContainer .secContentHR .singleListingHR .imgDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info {
  padding: 0.5rem 0.5rem 0;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .price {
  font-size: var(--h3FontSize);
  display: block;
  font-weight: 600;
  padding: 0.5rem 0;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .price .digits {
  color: var(--primaryColorDark);
  
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .price .duration {
  font-weight: 500;
  color: var(--primaryColorDark);
  
  font-display: var(--normalFontSize);
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .name {
  display: block;
  font-size: var(--h1FontSize);
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primaryColorDark);
  font-Family: "'Playfair Display', serif";
  align-items: center;
  text-align: center;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info p {
  color: var(--primaryColorDark);
  
  font-size:1rem;
  line-height: 30px;
  border-bottom: 2px solid rgb(235, 238, 242);
  /* font-Family: "'Playfair Display', serif"; */
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .ammenities {
  padding: 1rem 0;
  gap: 1rem;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .ammenities .flex {
  gap: 0.5rem;
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .ammenities .flex .icon {
  color: var(--orangeColor);
}
.ListingHR .secContainer .secContentHR .singleListingHR .info .ammenities .flex blockquote {
  color: var(--blackColor);
  opacity: 0.6;
  font-weight: 500;
}






/* .image-container {
  position: relative;
  width: 370px;
  height: 470px;
  overflow: hidden;
  border-radius: 20px;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:hover .property-image {
  transform: scale(1.1);
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
 
  color: white !important;
  padding: 10px;
  
} */

/* .property-name {
  font-size: 20px;
  font-weight: bold;
  color: white !important;
}

.property-price {
  font-size: 16px;
  color: white !important;
} */




@media screen and (min-width: 480px) {
  .ListingHR .secContainer .secContentHR {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .ListingHR .secContainer .secContentHR {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}