// Font style
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// We are going to write our default code.
// this gonna be used every where in our project.

:root {
  // All project colors
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  //   linear-gradient(40deg, rgb(114, 145, 255), rgb(42, 73, 198))

  //   All project font-sizes
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.About {
  .secContainer {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 1.5rem;

    .textDiv {
      .secTitle {
        text-align: left;
      }

      .accordion {
        gap: 0.5rem;
        align-items: flex-start;
        .singleAccordion {
          width: 100%;
          .icon {
            color: var(--primaryColor);
            background: var(--primaryColorLight);
            padding: 5px;
            border-radius: 3px;
            font-size: 23px;
          }

          .accordionTitle {
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border: 1px solid var(--shadowColor);
            border-radius: var(--borderRadius);

            .flex {
              align-items: center;
              gap: 0.5rem;
              justify-content: center;

              .titleText {
                font-weight: 600;
                color: var(--primaryColorDark);
                font-size: var(--normalFontSize);
              }
            }
          }

          .description {
            font-size: var(--normalFontSize);
            display: flex;
            align-items: center;
            width: 100%;
            line-height: 25px;
            height: 0;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            padding: 0.5rem 1rem 1rem;
            border-radius: 0 0 var(--borderRadius) var(--borderRadius);
            color: var(--primaryColorDark);
          }
          // if header of the accordion/card is clicked, description will add height and opacity which by default is 0 0
          .show {
            height: 185px;
            
          }

          .activeTitle {
            border: 1px solid transparent;
          }
        }

        .activeAccordion {
          box-shadow: 0 4px 8px var(--shadowColor);
          border-radius: var(--borderRadius);
          border: 1px solid var(--shadowColor);
        }
      }
    }
  }
}

// Media Queries ==================>

@media screen and (min-width: 540px) {
  .About {
    .secContainer {
      .textDiv {
        flex-basis: 50%;
        .accordion {
          gap: 1rem;

          .singleAccordion {
            width: 100%;
            .description {
              padding: 1.5rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .About {
    .secContainer {
      flex-direction: row !important;
      gap: 2rem;
      height: 100%;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1400px) {
  .About {
    .secContainer {
      justify-content: space-around;

      .textDiv{
        flex-basis: 45%;
        .accordion{
          .singleAccordion{
            .description{
              padding: 0 1rem 1.5rem;
            }

            .show{
              height: 100%;
            }
          }
        }
      }

      .imgDiv{
        flex-basis: 40%;
      }
    }


  }
}
