:root {
  --PrimaryColor:hsl(199,100%,33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gardientColor: linear-gardient(to right, hsl(187, 76%, 56%),hsl(199,100%,33%));
  /* --gardientColor: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,181,202,1) 51%, rgba(0,115,168,1) 100%); */
  --whiteColor: hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%,36%);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyText: rgb(190,190,190);
  --greyBg: hsl(0, 0%, 96%);
  --inputColor:rgb(239,239,239);
  --bodyColor:rgb(240,240,246);
  --cardBG: rgb(225,225,235);
}

.about .secContainer .title {
  color: var(--textColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.about .secContainer .mainContent {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about .secContainer .mainContent .singleItem {
  text-align: center;
}
.about .secContainer .mainContent .singleItem img {
  background-image: linear-gradient(to right, #193720, #18311e, #1d4025, #18301d, #19692c);
  width: 130px;
  border-radius: 50%;
  padding: 1rem;
}
.about .secContainer .mainContent .singleItem h3 {
  font-weight: 700;
  color: var(--blackColor);
  padding: 0.5rem;
}
.about .secContainer .mainContent .singleItem p {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--textColor);
}
.about .secContainer .videoCard {
  margin-top: 1rem;
  border-radius: 20px;
  background-image: url(../../Assets/barka.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .secContainer .videoCard .cardContent {
  gap: 2rem;
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr);
  
  padding-left: 1rem;
  background-image: linear-gradient(to bottom, rgba(124, 123, 226, 0.3098039216), rgba(0, 111, 173, 0.368627451), rgba(0, 82, 95, 0.431372549), rgba(0, 148, 189, 0.5215686275), rgba(12, 15, 7, 0.5490196078));
}
.about .secContainer .videoCard .cardContent .cardText h2 {
  color: var(--whiteColor);
  font-weight: 600;
  padding-bottom: 1rem;
}
.about .secContainer .videoCard .cardContent .cardText p {
   color: aliceblue;
  
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.about .secContainer .videoCard .cardVideo {
  border: 2px solid var(--whiteColor);
  height: 320px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.about .secContainer .videoCard .cardVideo video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about .secContainer .videoCard .cardContent {
  gap: 2rem;
  display: grid;
  border-radius: 20px;
  padding-left: 0 !important;
  grid-template-columns: repeat(1, 1fr);}
}


@media screen and (min-width: 720px) {
  .about .secContent .videoCard .cardContent {
    gap: 4rem;
    padding: 4rem 3rem;
  }
  .about .secContent .videoCard .cardContent .cardText h2 {
    font-size: 2rem;
  }
  .about .secContent .videoCard .cardContent .cardText p {
    
    font-size: 15px;
  }
  .about .secContent .videoCard .cardContent {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 1024px) {
  .about .secContainer .mainContent {
    padding: 2.5rem 0;
  }
}