.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding-bottom: 3rem;
  }
  
  .grid-item {
    position: relative;
  }
  
  .md-col-span-2 {
    grid-column: span 2;
  }
  
  .md-col-span-3 {
    grid-column: span 3;
  }
  
  .md-col-span-4 {
    grid-column: span 4;
  }
  
  .grid-image {
    border-radius: 1.5rem;
    object-fit: cover;
    width: 100%;
  }
  
  .grid-content {
    position: absolute;
  }
  
  .bottom-8 {
    bottom: 2rem;
  }
  
  .left-4 {
    left: 1rem;
  }
  
  .grid-number {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
  }
  
  .grid-location {
    color: #fff;
    font-size: 0.875rem;
  }
  