// Font style
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

// We are going to write our default code.
// this gonna be used every where in our project.

:root {
  // All project colors
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  //   linear-gradient(40deg, rgb(114, 145, 255), rgb(42, 73, 198))

  //   All project font-sizes
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.Popular {
  .secContainer {
    .secHeader {
      justify-content: space-between;
      .icon {
        transform: translateY(15px);
      }
    }

    .secContent {
       align-items: flex-start;
      gap: 1rem;
      .singleProperty {
        display: grid;
        border-radius: var(--borderRadius);
        padding: 6px;
        gap: 0.5rem;

        &:hover {
          box-shadow: 0 4px 6px var(--shadowColor);
          .imgDiv {
            img {
              scale: 1.1;
              transition: 0.3s ease-in-out;
            }
          }
        }

        .imgDiv {
          height: 200px;
          width: 100%;
          border-radius: var(--borderRadius);
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .info {
          padding: 0.5rem;
          .price {
            font-size: var(--h2FontSize);
            display: block;
            font-weight: 600;
            color: var(--primaryColorDark);
            .digits {
              
            }
          }

          .name {
            display: block;
            padding: 0.5rem 0;
            font-size: var(--h2FontSize);
            font-weight: 700;
            color: var(--primaryColorDark);
          }
          p {
            color: var(--primaryColorDark);
            
            font-size: var(--normalFontSize);
            line-height: 20px;
          }
        }
      }
    }
  }
}

// Media Queries

@media screen and (min-width: 480px) {
  .Popular{
    .secContainer{
      .secHeader{
        .icons{
          transform: translateY(0);
        }
      }

      .secContent{
        grid-template-columns: repeat(2,1fr);
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .Popular{
    .secContainer{
      .secContent{
        gap: 3rem;
        grid-template-columns: repeat(3,1fr);
      }
    }
  }
}
